In [1]:
from station import Station
from userInfo import UserInfo
station_app = Station()
user= UserInfo.geocoding('대구광역시 산격동 글로벌플라자')

In [4]:
float(user.loc['lat'])

35.891887

In [11]:
df = station_app.load_DB('seoul_loc')
df

           station        LAT         LNG
0      DMC래미안e편한세상  37.572233  126.909946
1    DMC센트럴아이파크아파트  37.579362  126.920840
2      DMC아이파크 아파트  37.575441  126.914327
3     e편한세상 금호파크힐스  37.554215  127.022719
4      e편한세상마포리버파크  37.541996  126.943692
..             ...        ...         ...
625        휘경주공1단지  37.582369  127.071263
626       흑석한강센트레빌  37.505913  126.965193
627    힐스테이트 강동리버뷰  37.548820  127.125370
628   힐스테이트상도프레스티지  37.494751  126.948272
629        힐스테이트청계  37.571543  127.045904

[630 rows x 3 columns]

In [12]:
df.rename(columns = {'LAT':'lat', 'LNG':'lon'}, inplace = True)
print(df)

           station        lat         lon
0      DMC래미안e편한세상  37.572233  126.909946
1    DMC센트럴아이파크아파트  37.579362  126.920840
2      DMC아이파크 아파트  37.575441  126.914327
3     e편한세상 금호파크힐스  37.554215  127.022719
4      e편한세상마포리버파크  37.541996  126.943692
..             ...        ...         ...
625        휘경주공1단지  37.582369  127.071263
626       흑석한강센트레빌  37.505913  126.965193
627    힐스테이트 강동리버뷰  37.548820  127.125370
628   힐스테이트상도프레스티지  37.494751  126.948272
629        힐스테이트청계  37.571543  127.045904

[630 rows x 3 columns]

In [13]:
df.sort_values('lat')

         station        lat         lon
131  남서울힐스테이트아파트  37.446617  126.902160
376    서초포레스타5단지  37.451143  127.057683
369       서초더샵포레  37.453922  127.064331
354    서울시립어린이병원  37.455718  127.068854
377    서초호반써밋아파트  37.456115  127.013784
..           ...        ...         ...
165   도봉현대성우 아파트  37.676280  127.047334
272   미주동방벽운 아파트  37.681033  127.055760
177    동아에코빌 아파트  37.681792  127.047134
343     서울가든 아파트  37.686862  127.041000
414    수락리버시티3단지  37.687134  127.054430

[630 rows x 3 columns]

In [10]:
df['lat']

37.572233

In [14]:
df.iloc[[0],:]

       station        lat         lon
0  DMC래미안e편한세상  37.572233  126.909946

In [2]:
station_app.get_tabel_names()

['seoul_loc', '년도별_valuecounts', '차량등록', '충전소', '충전소별_충전구분']

In [3]:
user1.get_user_info()

사용자 현재 위치 : 대구광역시 산격동 글로벌플라자
위도 : 35.891887, 경도 : 128.61133700069712

In [4]:
station_app.load_DB('차량등록')

           ind             행정동             연료
0            1  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
1            2  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
2            3  서울특별시 강남구 개포1동  하이브리드(휘발유+전기)
3            4  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
4            5  서울특별시 강남구 개포1동  하이브리드(휘발유+전기)
...        ...             ...            ...
189570  189571  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189571  189572  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189572  189573  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189573  189574  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189574  189575  서울특별시 중랑구 중화2동             전기

[189575 rows x 3 columns]