# 건영이의 알고리즘

In [1]:
# 모듈 로딩
from station_gy import Station_gy
from userInfo_gy import UserInfo
from geopy.geocoders import Nominatim
import numpy as np

## [1] geopy모듈

In [2]:
# geopy모듈 확인해보기(geocode)
geolocoder = Nominatim(user_agent = 'South Korea', timeout= 200)
geo = geolocoder.geocode('대구광역시 북구 학정동 학남로 60')
print(geo[0]) # 주소 데이터
print(geo[1]) # 위도 경도
print(geo.latitude) # 위도
print(geo.longitude) # 경도
print(type(geo))

학남로, 국우동, 북구, 대구, 41420, 대한민국
(35.9491887, 128.5685799)
35.9491887
128.5685799
<class 'geopy.location.Location'>

In [3]:
# geopy모듈 확인해보기(reverse)
geolocoder = Nominatim(user_agent = 'South Korea', timeout= 200)
geo = geolocoder.reverse('35.9475,128.5694')
print(geo[0]) # 주소 데이터
print(geo[1]) # 위도 경도
print(geo.latitude) # 위도
print(geo.longitude) # 경도
print(type(geo))

학정초등학교, 학남로, 국우동, 북구, 대구, 41420, 대한민국
(35.94834025, 128.56911985305533)
35.94834025
128.56911985305533
<class 'geopy.location.Location'>

In [4]:
# userinfo모듈을 이용한 유저 위치 입력 => 위도 경도 위치 반환
user1 = UserInfo.geocoding('대구광역시 북구 학정동 학남로 60')
print(user1.loc[0])
print(user1.loc[1])
user1.get_user_info()

35.9491887
128.5685799
사용자 현재 위치 : 대구광역시 북구 학정동 학남로 60
위도 : 35.9491887, 경도 : 128.5685799

In [5]:
# userinfo모듈을 이용한 유저 위치 입력 => 위도 경도 위치 반환
user1 = UserInfo.geocoding_reverse('35.9475, 128.5694')
print(user1.loc[0])
print(user1.loc[1])
user1.get_user_info()

35.9475
128.5694
사용자 현재 위치 : 학정초등학교, 학남로, 국우동, 북구, 대구, 41420, 대한민국
위도 : 35.9475, 경도 : 128.5694

## [2] 파일 불러오기

In [6]:
# Staion이라는 객체 생성
station_app = Station_gy()

In [7]:
# sql에 있는 전체 테이블 이름을 적어야함
station_app.get_tabel_names()

# 한글명으로 되어 있는 것들은 지금 우리 한테는 별 필요 없는 것이라서 신경쓰지말고 진행하자

['car_register',
 'charge_address',
 'count',
 'seoul_loc',
 'speed',
 '구분_명_주소',
 '행정동별_전기차_현황']

In [8]:
# 서울시 전기차 등록현황
car_register_df=station_app.load_DB('car_register')
car_register_df

           ind            dong           fuel
0            1  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
1            2  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
2            3  서울특별시 강남구 개포1동  하이브리드(휘발유+전기)
3            4  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
4            5  서울특별시 강남구 개포1동  하이브리드(휘발유+전기)
...        ...             ...            ...
189570  189571  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189571  189572  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189572  189573  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189573  189574  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189574  189575  서울특별시 중랑구 중화2동             전기

[189575 rows x 3 columns]

In [9]:
# 년도별 서울시 전기차 수
count_df=station_app.load_DB('count')
count_df

    year  counts
0   2005       6
1   2006      24
2   2007     122
3   2008     207
4   2009     779
5   2010     960
6   2011    2348
7   2012    4913
8   2013    4015
9   2014    5306
10  2015    6597
11  2016   10690
12  2017   16469
13  2018   20916
14  2019   23576
15  2020   35929
16  2021   50847
17  2022    5882

In [10]:
# 서울시 충전소 주소
charge_address_df=station_app.load_DB('charge_address')
charge_address_df

           station                     address
0      DMC래미안e편한세상         서울특별시 서대문구 북가좌동 481
1    DMC센트럴아이파크아파트         서울특별시 서대문구 증가로 150
2      DMC아이파크 아파트  서울특별시 서대문구 북가좌동 거북골로14길 32
3     e편한세상 금호파크힐스     서울특별시 성동구 금호동1가 금호로 140
4      e편한세상마포리버파크     서울특별시 마포구 용강동 토정로31길 24
..             ...                         ...
612        휘경주공1단지      서울특별시 동대문구 휘경동 한천로 248
613       흑석한강센트레빌       서울특별시 동작구 흑석동 흑석한강로 2
614    힐스테이트 강동리버뷰        서울특별시 강동구 올림픽로91길 30
615   힐스테이트상도프레스티지     서울특별시 동작구 상도동 상도로 346-2
616        힐스테이트청계      서울특별시 동대문구 천호대로55길 11

[617 rows x 2 columns]

In [11]:
# 서울시 충전소 위도경도
seoul_loc_df=station_app.load_DB('seoul_loc')
seoul_loc_df

           station        LAT         LNG
0      DMC래미안e편한세상  37.572233  126.909946
1    DMC센트럴아이파크아파트  37.579362  126.920840
2      DMC아이파크 아파트  37.575441  126.914327
3     e편한세상 금호파크힐스  37.554215  127.022719
4      e편한세상마포리버파크  37.541996  126.943692
..             ...        ...         ...
625        휘경주공1단지  37.582369  127.071263
626       흑석한강센트레빌  37.505913  126.965193
627    힐스테이트 강동리버뷰  37.548820  127.125370
628   힐스테이트상도프레스티지  37.494751  126.948272
629        힐스테이트청계  37.571543  127.045904

[630 rows x 3 columns]

In [12]:
# 서울시 충전소 구분
speed_df=station_app.load_DB('speed')
speed_df

    speed        station
0      급속    DMC래미안e편한세상
1      완속    DMC래미안e편한세상
2      완속  DMC센트럴아이파크아파트
3      급속    DMC아이파크 아파트
4      급속   e편한세상 금호파크힐스
..    ...            ...
862    완속       흑석한강센트레빌
863    완속    힐스테이트 강동리버뷰
864    급속   힐스테이트상도프레스티지
865    완속   힐스테이트상도프레스티지
866    급속        힐스테이트청계

[867 rows x 2 columns]

## [3] 유클리드 거리 구하기

In [13]:
from haversine import haversine

In [14]:
sta=UserInfo.geocoding('대구광역시 북구 대학로 80').loc # 출발 장소
end=UserInfo.geocoding('대구광역시 동구 공항로 221').loc # 도착 장소

haversine(sta,end)

# 출방장소와 도착장소는 2.2824200352130695km만큼 떨어져 있다.

2.2824200352130695

In [15]:
# 5km
a=np.array((35.882,128.6623))
b=np.array((35.8708,128.7157))

haversine(a,b)

4.969880820326101

In [16]:
# 3km
a=(35.882, 128.6623)
b=(35.874, 128.6939)

haversine(a,b)

2.9828207457072033

In [17]:
# 모듈을 이용하여 거리 구하기
result=station_app.cal_dis(sta,end)
result

2.2824200352130695

## [4] 알고리즘 구현

### [4-1] 충전소 데프 만들기
- 사용자 3/5/7km내의 충전소 정보 제공

In [18]:
# 충전소 객체를 만들고 새로운 데이터 프레임 만들기
station_gy=Station_gy(use_DB=False)
sta=UserInfo.geocoding('서울특별시 영등포구 여의동로 330').loc # 출발 장소: 여의도 공원
result=station_gy.station_df(sta)
result

,station,LAT,LNG,dis(km),address,speed
5,남서울직할,37.527292,126.929853,0.551920,서울특별시 영등포구 여의도동 21,완속/급속
13,롯데캐슬엠파이어,37.520241,126.926409,0.932338,서울특별시 영등포구 여의도동 의사당대로 127,완속/급속
7,대방중간집하장 공영주차장,37.513884,126.930927,1.273920,서울특별시 동작구 노량진로 47,완속
34,청암자이 아파트,37.534841,126.947209,1.533586,서울특별시 용산구 삼개로 60,완속/급속
28,"여의도KBS (본관,신관)",37.525172,126.917230,1.591658,서울 영등포구 여의공원로 13,급속
27,쌍용황금,37.537126,126.945640,1.646544,서울특별시 마포구 마포동 마포대로 6,급속
22,서울시여성가족재단,37.511146,126.926809,1.692904,서울특별시 동작구 대방동 345-1,급속
35,한강삼성 아파트,37.539554,126.941169,1.719905,서울특별시 마포구 토정동 토정로32길 11,완속/급속
16,마포도화우성아파트,37.536343,126.948545,1.736145,서울특별시 마포구 도화동 삼개로 38,완속/급속
15,마포대림1차 아파트,37.540191,126.941720,1.802281,서울특별시 마포구 용강동 마포대로1길 21,급속
25,신길경남 아파트,37.515558,126.918256,1.819562,서울특별시 영등포구 영등포로 351,완속/급속
6,대방성원 아파트,37.509732,126.925917,1.868714,서울특별시 동작구 대방동 여의대방로44길 9,완속/급속
9,동아그린 아파트,37.523167,126.957891,2.002983,서울특별시 용산구 이촌로 100-8,완속/급속
10,래미안마포리버웰,37.542217,126.941960,2.023377,서울특별시 마포구 용강동 토정로31길 23,완속/급속
0,e편한세상마포리버파크,37.541996,126.943692,2.050111,서울특별시 마포구 용강동 토정로31길 24,완속/급속
4,국회의사당,37.532697,126.914212,2.053838,서울특별시 영등포구 여의도동 1,급속
23,성지(주상복합) 아파트,37.541242,126.946390,2.073492,서울특별시 마포구 도화동 큰우물로 75,급속
20,상도래미안1차 아파트,37.506025,126.935483,2.088893,서울특별시 동작구 상도동 등용로 37,완속/급속
21,상도파크자이,37.505530,126.938083,2.158128,서울특별시 동작구 상도동 장승배기로 11,완속/급속
17,마포용산지사,37.542199,126.947182,2.200304,서울특별시 마포구 토정로37길 38,완속/급속
29,영등포전력지사,37.517367,126.910236,2.358094,서울특별시 영등포구 경인로 878,완속/급속
2,공덕파크자이1단지,37.544543,126.948461,2.483291,서울특별시 마포구 공덕동 백범로 152,완속
8,대우유로카운티,37.505401,126.949314,2.488234,서울특별시 동작구 상도동 양녕로 287,완속
12,래미안밤섬리베뉴2,37.546535,126.928136,2.496330,서울특별시 마포구 상수동 독막로20나길 21,완속/급속
3,공덕파크자이2단지,37.545397,126.946673,2.500131,서울특별시 마포구 공덕동 백범로 152,급속
11,래미안밤섬리베뉴1 아파트,37.546107,126.924993,2.535668,서울특별시 마포구 상수동 독막로20나길 22,완속/급속
19,브라운스톤공덕 아파트,37.541422,126.955566,2.571745,서울특별시 마포구 신공덕동 백범로 230,완속
14,롯데캐슬프레지던트,37.544865,126.950739,2.613930,서울특별시 마포구 공덕동 마포대로 109,완속
30,용산역 아이파크몰,37.530549,126.965165,2.712173,서울특별시 용산구 한강대로23길 55,완속/급속
32,중부전력지사,37.544264,126.916441,2.727036,서울특별시 마포구 토정로 56,급속
31,용산전자상가1 공영주차장,37.531767,126.965127,2.743916,서울특별시 용산구 한강로3가 12,완속
18,마포자이2차아파트,37.549151,126.942372,2.778021,서울특별시 마포구 서강대길 40,완속
26,신길삼성래미안,37.505140,126.914598,2.847692,서울특별시 영등포구 신길동 가마산로79길 7,완속/급속
1,공덕아이파크아파트,37.544725,126.955795,2.859743,서울특별시 마포구 만리재로 36,완속
33,창전삼성 아파트,37.551292,126.931494,2.963451,서울특별시 마포구 창전동 서강로 95,완속
24,신공덕3삼성래미안,37.545549,126.956782,2.985770,서울특별시 마포구 신공덕동 만리재로 60,급속

### [4-2] 등록차량 데프 만들기
- 동일 구내의 전기차의 수를 반환

In [19]:
# 서울시 전기차 등록현황
car_register_df=station_app.load_DB('car_register')
car_register_df

           ind            dong           fuel
0            1  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
1            2  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
2            3  서울특별시 강남구 개포1동  하이브리드(휘발유+전기)
3            4  서울특별시 송파구 가락2동  하이브리드(휘발유+전기)
4            5  서울특별시 강남구 개포1동  하이브리드(휘발유+전기)
...        ...             ...            ...
189570  189571  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189571  189572  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189572  189573  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189573  189574  서울특별시 중랑구 중화2동  하이브리드(휘발유+전기)
189574  189575  서울특별시 중랑구 중화2동             전기

[189575 rows x 3 columns]

In [20]:
sta1=UserInfo.geocoding('서울특별시 영등포구 여의동로 330')
gu=sta1.address.split(' ')[1]
print(gu)

영등포구

In [21]:
import pandas as pd

In [22]:
c=station_gy.res_car_cnt(sta1.address)
print(c)

           ind              dong           fuel
5364      5365   서울특별시 영등포구 당산1동  하이브리드(휘발유+전기)
5366      5367   서울특별시 영등포구 당산1동  하이브리드(휘발유+전기)
5368      5369   서울특별시 영등포구 당산1동  하이브리드(휘발유+전기)
5370      5371   서울특별시 영등포구 당산1동  하이브리드(휘발유+전기)
5372      5373   서울특별시 영등포구 당산1동  하이브리드(휘발유+전기)
...        ...               ...            ...
188155  188156  서울특별시 영등포구 영등포본동  하이브리드(휘발유+전기)
188156  188157  서울특별시 영등포구 영등포본동  하이브리드(LPG+전기)
188157  188158  서울특별시 영등포구 영등포본동             전기
188158  188159  서울특별시 영등포구 영등포본동  하이브리드(휘발유+전기)
188159  188160  서울특별시 영등포구 영등포본동  하이브리드(휘발유+전기)

[9275 rows x 3 columns]

In [23]:
station_gy.gu_res_car_cnt(c)

            fuel   cnt
4  하이브리드(휘발유+전기)  6538
1             전기  2388
0             수소   159
2  하이브리드(LPG+전기)   102
3   하이브리드(경유+전기)    88